*{

    margin: 0;
    padding: 0;
}
textarea{
    resize: none;
}


header{
    background-color: $color-principal;
    display: flex; 
    flex-direction: column;
    align-items: center;   

    ul{
        list-style: none;
        
    }

    h1{
        font-size: 6vw;
        color: rgb(242, 240, 247);  
        text-align: center; 
        margin-top: 2vw;
        @include screen_880{
            color:yellow; 
        }
    }

    nav{
        text-align: center; 
        margin-top: 4vw;
        margin-bottom: 2vw;
    
    }

    .direcciones{   
        color: azure !important; 
        text-decoration: none;
        font-size: 2vw;
        display: flex;       
    }

    .Buscador{
        width: 50%;
        margin-right: 25vw;
        margin-left: 25vw;
        
   
        input{
        width: 100%;
        font-size: 2vw;
        margin-bottom: 2vw;
        margin-top: 2vw;
        }
    
    } 
} 


main{
    .contacto{ 
        display: flex;
        justify-content: center;
        font-size: 2vw;
        font-style: oblique;
        color: rgb(134, 154, 8);
        a{
            font-style: oblique;
            @include screen_725{
                font-size: 3vw;
            }
            @include screen_600{
                font-size: 3vw;
            }



        }
        h2{
            font-style: oblique;
            @include screen_725{
                font-size: 3vw;
            }
            @include screen_600{
                font-size: 4vw;
            }

        }

    }



    .plano{ 
        iframe{
        display: flex;
        justify-content: center;
        margin-bottom: 3vw;
        margin-top: 3vw;
        }
        @include screen_880{
            width: 70vw;
            height: 70vw;
        }
        @include screen_670{
            width: 90vw;
            height: 90vw;
        }
        @include screen_555{
            width: 40vw;
            height: 40vw;
        }


    }

}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;

    div{ 
        margin-top: 2vw; 
        display: flex;
        justify-content: center;
    
       a{
        text-decoration: none;
        color: rgb(134, 154, 8);
        font-size: 1.5vw;
        margin-right: 1vw;
        margin-left: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
       }

       p{ 
        margin-top: 2vw; 
        display: flex;
        justify-content: center;
        }
    
    }



}





